@import "tailwindcss";
@import "tw-animate-css";
@source "../node_modules/streamdown/dist/*.js";

@custom-variant dark (&:is(.dark *));


:root {
  --slate-1: oklch(99.7% 0 0);
  --slate-2: oklch(98.8% 0 0);
  --slate-3: oklch(97.2% 0 0);
  --slate-4: oklch(96.8% 0 0);
  --slate-5: oklch(94.2% 0 0);
  --slate-6: oklch(93.2% 0 0);
  --slate-7: oklch(92% 0 0);
  --slate-8: oklch(90.6% 0 0);
  --slate-9: oklch(86.3% 0 0);
  --slate-10: oklch(80.2% 0 0);
  --slate-11: oklch(54% 0 0);
  --slate-12: oklch(24.4% 0 0);

  --radius: 8px;

  --sidebar-width: 224px;
  --thread-width: 672px;
  --artifacts-panel-width: 512px;
}

.dark {

  /* --slate-1: oklch(20.3% 0 286.051);
  --slate-2: oklch(17.808% 0 286.051);
  --slate-3: oklch(19.616% 0 286.056);
  --slate-4: oklch(21.82% 0 286.055);
  --slate-5: oklch(21.342% 0 286.051);
  --slate-6: oklch(23.116% 0 286.052);
  --slate-7: oklch(25.236% 0 286.044);
  --slate-8: oklch(23.116% 0 286.052);
  --slate-9: oklch(25.615% 0 286.051);
  --slate-10: oklch(27.7% 0 285);
  --slate-11: oklch(58.3% 0 285);
  --slate-12: oklch(86.9% 0 285); */

  --slate-1: oklch(20.3% 0 286.051);
  --slate-2: oklch(17.808% 0 286.051);
  --slate-3: oklch(19.616% 0 286.056);
  --slate-4: oklch(23.208% 0 286.055);
  --slate-5: oklch(24.342% 0 286.051);
  --slate-6: oklch(25.116% 0 286.052);
  --slate-7: oklch(27.236% 0 286.044);
  --slate-8: oklch(28.116% 0 286.052);
  --slate-9: oklch(29.615% 0 286.051);
  --slate-10: oklch(27.7% 0 285);
  --slate-11: oklch(58.3% 0 285);
  --slate-12: oklch(86.9% 0 285);
}


@theme inline {

  /* Background colors for interactive elements */
  --color-slate-1: var(--slate-1);
  /* Background colors for static elements */
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  /* Background colors for hover, active, highlighted, etc. */
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  /* Border colors */
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  /* Text colors */
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --text-xs: 12px;
  --text-sm: 13px;
  --text-md: 14px;
  --text-lg: 15px;
  --text-xl: 16px;
}


@layer base {
  * {
    @apply border-slate-4 ring-slate-12;
  }
  body {
    @apply text-slate-12;
  }
}
